{% extends 'search/base.html' %}

{% load static %}

{% block content %}


	<div class="container-fluid" class="base">
	    <div class="row align-items-center justify-content-center text-center">
	      <div class="col-lg-10 my-4">
	        <h1 class="text-white">{{product.name}}</h1>
	        <hr class="divider my-4">
	    </div>
	</div>
	<div class="row">
		<div class="col-sm-6 text-center">
			<h2 class="text-white">Nutriscore : </h2>
			<img class="img-responsive"width="400" height="200" src="{% static 'search/img/nutriscore/' %}{{ product.nutriscore}}.svg"  alt="{{ product.nutriscore }}">
		</div> 
		<div class="col-sm-6 text-center">
			<h2 class="text-white">Valeurs nutritionnelles pour 100g : </h2>
			 <img class="img-responsive" width="300" height="200" src="{{ product.picture_100g }}" alt="{{ product.name }}">
		</div>
	</div>	

	<div class="row">
		<div class="col-sm-12 text-center my-4">
			<a class="btn btn-lg btn-outline-light" href="{{ product.url }}">Voir la fiche d'OpenFoodFacts</a>
		</div>
	</div>

    <div class="container">
      <div class="row"> 
        <div id="mapid" class="col-md" ></div>
    </div><br>


	<!--Send render data to Js in order to display the Leaflet map -->

	
 	<script type="text/javascript">
    	var start_latitude = "{{ stores.0.latitude|safe}}";
    	var start_longitude = "{{ stores.0.longitude|safe}}";
    	console.log(start_latitude);
    	console.log(start_longitude);
		var mymap = L.map('mapid').setView([start_latitude, start_longitude], 5);
    </script>

	{% for store in stores %}

	    <script type="text/javascript">
	    	var lat = "{{store.latitude|safe}}";
	    	var long ="{{store.longitude|safe}}";
	    	var marker = L.marker([lat, long]).addTo(mymap);

			L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibmFvbWllLWNvIiwiYSI6ImNrb2toNWxmcjE0bDMycXJtN3JyeWh5MTUifQ.qd_YdCTV7VRg3TkhvhsFVw', {
			    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
			    maxZoom: 18,
			    id: 'mapbox/streets-v11',
			    tileSize: 512,
			    zoomOffset: -1,
			    accessToken: 'pk.eyJ1IjoibmFvbWllLWNvIiwiYSI6ImNrb2toNWxmcjE0bDMycXJtN3JyeWh5MTUifQ.qd_YdCTV7VRg3TkhvhsFVw'
			}).addTo(mymap);
	    </script>
    {% endfor %}

    <!-- JS code to send the request and get the result  -->
  	<script src="{% static 'search/js/script.js' %}"></script>
<!--	<div class="row">
		<div class="col-sm-12 text-center my-4">
			 <h1 class="text-white">{{store.name_store}} {{store.latitude}} {{store.longitude}}</h1>
	        <hr class="divider my-4">
		</div>
	</div>
-->



{% endblock %}