{% extends 'search/base.html' %}

{% load static %}

{% block content %}


	<div class="container-fluid" class="base">
	    <div class="row align-items-center justify-content-center text-center">
	      <div class="col-lg-10 my-4">
	        <h1 class="text-white">{{product.name}}</h1>
	        <hr class="divider my-4">
	    </div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-lg-6 text-center">
			<h2 class="text-white">Nutriscore : </h2>
			<img class="img-responsive"width="400" height="200" src="{% static 'search/img/nutriscore/' %}{{ product.nutriscore}}.svg"  alt="{{ product.nutriscore }}">
		</div> 
		<div class="col-sm-12 col-lg-6 text-center">
			<h2 class="text-white">Valeurs nutritionnelles pour 100g : </h2>
			 <img class="img-responsive" width="300" height="200" src="{{ product.picture_100g }}" alt="{{ product.name }}">
		</div>
	</div>	

	<div class="row">
		<div class="col-sm-12 text-center my-4">
			<a class="btn btn-lg btn-outline-light" href="{{ product.url }}">Voir la fiche d'OpenFoodFacts</a>
		</div>
	</div>
{% if stores %}
    <div class="container">
      <div class="row"> 
        <div id="mapid" style="height: 600px;" class="col-md" ></div>

	 		<script type="text/javascript">
	    	

			//Map configuration
	    	var start_latitude = "{{ stores.0.latitude|safe}}";
	    	var start_longitude = "{{ stores.0.longitude|safe}}";
			var mymap = L.map('mapid').setView([start_latitude, start_longitude], 5);

			L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibmFvbWllLWNvIiwiYSI6ImNrb2toNWxmcjE0bDMycXJtN3JyeWh5MTUifQ.qd_YdCTV7VRg3TkhvhsFVw', {
			    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
			    maxZoom: 18,
			    id: 'mapbox/streets-v11',
			    tileSize: 512,
			    zoomOffset: -1,
			    accessToken: 'pk.eyJ1IjoibmFvbWllLWNvIiwiYSI6ImNrb2toNWxmcjE0bDMycXJtN3JyeWh5MTUifQ.qd_YdCTV7VRg3TkhvhsFVw'
			}).addTo(mymap);

	    	</script>

			{% for store in stores %}

			    <script type="text/javascript">
			    	//Add a marker to the store location
			    	var lat = "{{store.latitude|safe}}";
			    	var long ="{{store.longitude|safe}}";    	
			    	var marker = L.marker([lat, long]).addTo(mymap);
			    	
			    	//Add pop-up when user clicks on store marker
					marker.bindPopup("<b>{{store.name_store}}</b>");

			    </script>
		    {% endfor %}

		    <!-- JS code to send the request and get the result  
		  	<script src="{% static 'search/js/script.js' %}"></script>
			-->
		</div><br>

	{%else%}
	<div class="col-sm-6 text-center">
			<h2 class="text-white">Pas de lieu de vente référencé pour ce produit.</h2>
		</div>
	</div>	


	{%endif%}
	}

{% endblock %}